*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
 }
 
 header{
     display: flex;
     justify-content: space-between;
     position: fixed;
     width: 100%;
     transition: top 0.3s;
     background-color: #eee;
     z-index: 1;
 }
 header:hover{
     background-color: rgb(1, 19, 20);
     color: white;
 }
 body{
     background: #f5f3f3;
 }
 .header{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 15px;
 }
 header h1{
     font-size: 2.2rem;
     text-transform: uppercase;
     color: rgb(45, 109, 114);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .icons{
     display: flex;
     justify-content: flex-end;
     gap: 15px;
     margin: 15px;
     flex-wrap: wrap;
 }
 img{
    height: 40px;
    width: auto;
    border-radius: 5px;
}
.navbar-links {
    float: right;
}
.navbar-links a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}
.navbar-links {
    display: none;
    width: 100%;
    text-align: center;
}
.navbar-links a {
    display: block;
    padding: 14px 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18%;
    background: url('./ezeh.png');
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: center;
    background-size: 50%;
    mix-blend-mode: darken;
    height: 50%;
    box-shadow: 5px 5px 5px 5px #111;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #fff;
}
h2{
    color: rgb(43, 111, 106);
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}
h2 span{
    color: #111;
}
h2 span:hover{
    transition: all ease-in-out .3s;
    color: rgb(66, 65, 65);
}

.word{
    padding: 15% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-items{
    margin-top: 15%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 
    300px 300px;
    gap: 1.2rem;
    margin: 2%;
}
.card img{
    width: 100%;
    height: 80%;
    padding-top: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
.card{
    background-color: rgb(255, 251, 251);
    box-shadow: 1px 2px 3px  rgb(22, 22, 22);
}
.card:hover{
    background-color: rgb(255, 251, 251);
    box-shadow: 1px 5px 7px  rgb(22, 22, 22);
}
.add-minus{
    display: flex;
    gap: 20px;
    cursor: pointer;
    justify-content: end;
}
.textarea{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: Helvetica, sans-serif;
}
.block{
    background-color: #111;
    height: 20%;
    width: 10vw;
}
.more-items{
    background-color: #f6f6f6;
    height: fit-content;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
    gap: 30px;
}

div.serve div{
    color: #111111;
    font-size: 1.9rem;
    padding: 1em;
    text-align: center;
}
div.serve div:hover{
    border: 1px solid#111111;
    background-color: rgb(45, 109, 114);
    color: #eee;
}
.serve p{
    text-align: center;
}

.serve p a{
    color: rgb(45, 109, 114);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}
.serve p a:hover{
    color: rgb(2, 26, 27);
}
button{
    background-color: #111111;
    color: #f6f6f6;
    text-transform: uppercase;
    border-end-start-radius: solid #f6f6f6;
    font-size: 1.5rem;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #111111;
    color: white;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 3%;
}
.offers p,
.address p{
    line-height: 2rem;
    margin: 20%;
    font-size: 1.1rem;
}
@media (max-width: 900px){
    header h1{
         font-size: 1.5rem;
         text-align: left;
     }
     i.fa-search,
     input{
        display: none;
     }
     .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px
        450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px
        450px 450px 450px 450px 450px 450px 450px 450px;
     }
     .container h2{
        font-size: .5rem;
     }
     .container{
        margin-top: 40%;
     }
     .end{
         display: flex;
         flex-direction: column;
         gap: 1.2rem;
         justify-content: center;
         align-items: center;
     }
    }

    @media (max-width: 1100px){
        h2{
            font-size: 1.1rem;
        }
    }
@media (min-width: 1000px){
    .services{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}
